a.c5-featured-page {
    text-decoration: none;
    background-color:#f4f4f4;
}

a.c5-featured-page div.image {

    height: 200px;
    line-height: 200px;
    background: #000 url(/packages/concrete5_theme/themes/concrete5/images/bg_featured_stripe.png) no-repeat;
    background-size: cover;
    text-align: center;
}

a.c5-featured-page div.image-inner {
    background: transparent;
    height: 200px;
}

a.c5-featured-page div.image img, a.c5-featured-page div.image picture {
    text-align: center;
    vertical-align: middle;
}

a.c5-featured-page > .details {
    width: 100%;
    padding: 10px 25px;
    text-align: center;
    color: #909598;
    font-size: 13px;
}
a.c5-featured-page:hover {
    text-decoration: none;
    background-color:#fff;
}
a.c5-featured-page:hover div.image-inner {
    background-color: rgba(0,85,141,0.8);
}

a.c5-featured-page > .details > span.title {
    color: black;
    font-weight: bold;
    font-size: 15px;
    display: block;
    margin-bottom: 15px;
}
div.c5-featured-stripe {
    margin-bottom: 100px;
    margin-top: 50px;
}

@media (min-width: 992px) {
    a.c5-featured-page > .details {
        width: 100%;
        padding: 25px 50px;
        text-align: center;
    }
}
